body {
  font-family: Arial;
  text-align: center;
  background: #e6f7ff;
}

button {
  margin: 8px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

#doors button {
  font-size: 18px;
  display: block;
  margin: 10px auto;
  width: 250px;
}
