body {
  font-family: Arial;
  text-align: center;
  background: #e6f7ff;
}

button {
  margin: 8px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  transform: scale(1.05);
}

#doors button {
  font-size: 18px;
  display: block;
  margin: 10px auto;
  width: 250px;
}

#progress {
  font-weight: bold;
  margin: 10px;
}
